.banner {
    margin: 60px 0;

    &_wraps {
        display: grid;
        grid-template-columns: 50% 50%;
        border-radius: 20px;
        background: #003459;

        .banner_right {
            img {
                width: 100%;
            }
        }

        .banner_left {
            border-radius: 50% 0 0% 50%;
            background: #FCEED5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                color: var(--primary-color-dark-blue, #003459);
                font-size: 52px;
                font-weight: 800;
                line-height: 68px;
                text-transform: capitalize;
            }

            h3 {
                color: var(--primary-color-dark-blue, #003459);
                font-size: 36px;
                font-weight: 700;
                line-height: 54px;
                text-transform: capitalize;
            }

            p {
                color: var(--neutral-color-80, #242B33);
                text-align: right;
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
                margin-top: 10px;
            }

            .jex {
                margin-top: 30px;
                display: flex;
                align-items: center;
                gap: 20px;

                .a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    width: 150px;
                    height: 40px;
                    border-radius: 57px;
                    border: 1.5px solid var(--primary-color-dark-blue, #003459);
                    color: var(--primary-color-dark-blue, #003459);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }

                .b {
                    width: 150px;
                    height: 40px;
                    border-radius: 57px;
                    background: var(--primary-color-dark-blue, #003459);
                    color: var(--neutral-color-00, #FDFDFD);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    border: none;
                }
            }
        }
    }
}