.footer {
    border-radius: 40px 40px 0px 0px;
    background: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    padding: 80px 0 30px 0;

    &_form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        background: var(--primary-color-dark-blue, #003459);
        padding: 20px 10px;

        h3 {
            color: var(--neutral-color-00, #FDFDFD);
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            text-transform: capitalize;
        }

        .solid {
            width: 55%;
            border-radius: 14px;
            background: #FFF;
            height: 40px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            input {
                width: 70%;
                height: 30px;
                color: var(--neutral-color-40, #99A2A5);
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                outline: none;
                padding-left: 10px;
            }

            button {
                width: 120px;
                height: 30px;
                border-radius: 8px;
                background: var(--primary-color-dark-blue, #003459);
                border: none;
                color: var(--neutral-color-00, #FDFDFD);
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }

    &_center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0;
        border-bottom: 1px solid #FDFDFD;
        padding-bottom: 40px;

        .footer_links {
            display: flex;
            align-items: center;
            gap: 60px;

            a {
                color: var(--neutral-color-100, #00171F);
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }
        }

        .footer_icons {
            display: flex;
            align-items: center;
            gap: 40px;

            i {
                color: #00171F;
                font-size: 20px;
            }
        }
    }

    &_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: var(--neutral-color-60, #667479);
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }
    }
}