@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  background: var(--Linear, linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%));
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_links {
  display: flex;
  align-items: center;
  gap: 48px;
}
.navbar_links a {
  color: var(--primary-color-dark-blue, #003459);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.navbar_items {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar_items input {
  outline: none;
  border: none;
  color: #99A2A5;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.navbar_items i {
  color: #667479;
}
.navbar_items .age {
  border-radius: 46px;
  background: var(--neutral-color-00, #FDFDFD);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar_items button {
  width: 200px;
  height: 40px;
  border-radius: 57px;
  background: var(--primary-color-dark-blue, #003459);
  border: none;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.navbar_lang {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar_lang select {
  font-size: 17px;
  color: #002A48;
  background-color: transparent;
  outline: none;
  border: none;
}

#check {
  display: none;
}

.open {
  display: none;
}

.close {
  display: none;
}

.navbar_items:nth-of-type(1) {
  display: none;
}

.showcase {
  border-radius: 0px 0px 40px 40px;
  background: var(--Linear, linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%));
}
.showcase_wraps {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase_wraps .showcase_right h1 {
  color: var(--primary-color-dark-blue-80, #002A48);
  font-size: 40px;
  font-weight: 800;
  line-height: 68px;
  text-transform: capitalize;
}
.showcase_wraps .showcase_right h2 {
  color: var(--primary-color-dark-blue-80, #002A48);
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  text-transform: capitalize;
}
.showcase_wraps .showcase_right p {
  color: var(--neutral-color-80, #242B33);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 80%;
}
.showcase_wraps .showcase_right .jex {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.showcase_wraps .showcase_right .jex .a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 150px;
  height: 40px;
  border-radius: 57px;
  border: 1.5px solid var(--primary-color-dark-blue, #003459);
  color: var(--primary-color-dark-blue, #003459);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.showcase_wraps .showcase_right .jex .b {
  width: 150px;
  height: 40px;
  border-radius: 57px;
  background: var(--primary-color-dark-blue, #003459);
  color: var(--neutral-color-00, #FDFDFD);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: none;
}
.showcase_wraps .showcase_left {
  position: relative;
}
.showcase_wraps .showcase_left .s {
  position: absolute;
  top: 10%;
  left: 190px;
}
.showcase_wraps .showcase_left .c {
  position: absolute;
  top: 30%;
  left: 150px;
}
.showcase_wraps .showcase_left .left_img img {
  width: 100%;
}

.cards {
  margin: 60px 0;
}
.cards_title {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.cards_title p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.cards_title h2 {
  color: var(--primary-color-dark-blue, #003459);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
}
.cards_title button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 150px;
  height: 40px;
  border-radius: 57px;
  border: 1.5px solid var(--primary-color-dark-blue, #003459);
  background-color: transparent;
  color: var(--primary-color-dark-blue, #003459);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
.cards_wraps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  margin-top: 28px;
}
.cards_wraps .card_wrap {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: var(--neutral-color-00, #FDFDFD);
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  padding: 8px 8px 0px 8px;
}
.cards_wraps .card_wrap img {
  width: 100%;
}
.cards_wraps .card_wrap h3 {
  color: var(--neutral-color-100, #00171F);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: start;
}
.cards_wraps .card_wrap h4 {
  color: var(--neutral-color-100, #00171F);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 20px;
}
.cards_wraps .card_wrap .jek {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 5px 0;
}
.cards_wraps .card_wrap .jek p {
  color: var(--neutral-color-60, #667479);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.cards_wraps .card_wrap .jek b {
  color: var(--neutral-color-60, #667479);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

@media (max-width: 1082px) {
  .navbar_links {
    gap: 28px;
  }
}
@media (max-width: 1000px) {
  .navbar_items {
    display: none;
  }
  .navbar_links {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100vh;
    background-color: #003459;
    box-shadow: 0 0 10px gray;
    transition: 0.7s;
    z-index: 999;
  }
  .navbar_links a {
    color: #fff;
  }
  .open {
    display: block;
  }
  #check:checked ~ .navbar_links {
    left: 0;
  }
  .navbar_items:nth-of-type(1) {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .navbar_items:nth-of-type(1) .age {
    border: 1px solid #000;
  }
  .navbar_items:nth-of-type(1) button {
    background-color: #F7DBA7;
  }
  #check:checked ~ .open {
    display: none;
  }
  #check:checked ~ .open {
    display: block;
  }
}
@media (max-width: 700px) {
  .navbar_links {
    width: 70%;
  }
}
@media (max-width: 352px) {
  .navbar_links {
    width: 80%;
    align-items: start;
    padding-left: 10px;
  }
}
@media (max-width: 1010px) {
  .showcase_wraps {
    flex-direction: column;
    align-items: start;
  }
  .showcase_wraps .showcase_left .s {
    display: none;
  }
  .showcase_wraps .showcase_left .c {
    display: none;
  }
}
@media (max-width: 442px) {
  .showcase_right p {
    width: 100%;
  }
  .showcase_right .jex {
    flex-direction: column;
  }
}
@media (max-width: 854px) {
  .cards_wraps {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 576px) {
  .cards_wraps {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 366px) {
  .cards_wraps {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
